acme==3.0.1
boto3==1.35.69
botocore==1.35.69
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==43.0.3
idna==3.10
jmespath==1.0.1
josepy==1.14.0
pycparser==2.22
pyOpenSSL==24.2.1
pyRFC3339==2.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
s3transfer==0.10.4
setuptools==75.6.0
six==1.16.0
urllib3==2.2.3
validators==0.34.0
